/* 
  Overwrites style set by OCP's console global CSS
  Classname is not passed to the root "label" element, we must target the PF switch first
 */
.pf-v6-c-switch .fctl-switch__label {
  font-weight: normal;
}
