html,
body,
#root {
  height: 100%;
}

div.deviceSquare:hover{
  transform: scale(2.5);
  transition: transform 0.2s;
  border: 1px solid #fff;
  border-radius: 1px;
  cursor: pointer;
}

.deviceSquare {
  width: 8px;
  height: 10px;
  display: inline-block;
  margin: 4px 2px 0px 0px;
  -webkit-mask-image: linear-gradient(to bottom right,rgba(0,0,0,1), rgba(0,0,0,0.6) 15% 20%,rgba(0,0,0,1) 40%);
  mask-image: linear-gradient(to bottom right,rgba(0,0,0,1), rgba(0,0,0,0.6) 15% 20%,rgba(0,0,0,1) 40%);
}
