apiVersion: console.openshift.io/v1
kind: ConsolePlugin
metadata:
  name: flightctl-plugin
spec:
  backend:
    service:
      basePath: /
      name: flightctl-ui
      namespace: {{ .Release.Namespace }}
      port: 443
    type: Service
  displayName: FCTL Plugin
  i18n:
    loadType: Preload
  proxy:
    - alias: api-proxy
      authorization: UserToken
      endpoint:
        service:
          name: flightctl-ui
          namespace: {{ .Release.Namespace }}
          port: 443
        type: Service
