flightctlUi:
  namespace: flightctl
  image: quay.io/flightctl/flightctl-ui:latest
  flightctlServer: https://flightctl-api:3443
  flightctlMetricsServer: https://flightctl-api:9090
  bootcImgUrl: "" #Bootc device image. Example: quay.io/example/example-agent-centos:bootstrap
  qcow2ImgUrl: "" #Qcow2 device image. Example: https://example.com/disk.qcow2
  certs:
    ca: |
      -----BEGIN
      -----END
    frontRouter: |
      -----BEGIN
      -----END
    frontRouterKey: |
      -----BEGIN
      -----END
keycloak:
  authority: http://keycloak:8080/realms/flightctl
  clientid: flightctl-ui
  redirect: https://ui.flightctl.example.com:443
  secret: CHANGE_ME

